#container {
    width: 50vw;
    height: 70vh;

    max-width: 1140px;
    min-width: 760px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid black;
}

.row {
    display: flex; 
    margin: 0 auto;
    width: 50%;
}
.card{
    margin: 25px;
}